<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizix App</title>
    <link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    
    <section class="todoapp">
     <h1>Organizix App</h1>
     </section>
     
    <footer class="footer">
       
    </footer>
  
</section>
    <footer class="info">
        <p>Click to edit activities</p>
        <p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
        <hr>
</body>
</html>